<div class="text-center">
    <h1 class="mynotes">My Notes</h1>
</div>
<div class="row">
    @foreach(var i in Model){
    <div class="col-xl-4 col-md-6 col-12 mt-4">   
          <div class="card">
                 <div class="card-header">
                    @i.notName
                 </div>
                 <div class="card-body">
                    @i.noteContent
                </div>
                <div class="card-footer"  >
                    <a class="btn btn-outline-danger"  asp-route-id="@i.noteId" asp-action="RemoveNote">Delete</a>
     

                </div>   
          </div>
    </div>
    }
</div>

<div class="modal" id="NoteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create New Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/Home/AddNote">
      <div class="modal-body">
        <div class="form-group">
            <input type="text" name="noteId" id="noteId" class="form-control d-none" placeholder="ID will be generated automaticly" disabled/>
        </div>
        <div class="form-group">
            <input type="text" name="notName" id="notName" class="form-control" placeholder="Note Header" required/>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="noteContent" id="noteContent" rows="3" placeholder="Enter Your Note Here.." required></textarea>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline-success">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>

</div>